{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm Game - Homepage</title>
    <link rel="stylesheet" href="{% static 'css/gameTemplate.css' %}">
    <style>
        .hero {
            background: url("{% static 'images/typeBeat.gif' %}") center center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="navLogo">
            <ul>
                <li><a href="{% url 'homepage' name=user.username %}" class="navLinks">Home</a></li>
                <li><a href="{% url 'BeatPack_Upload' name=user.username %}" class="navLinks">Upload BeatPack</a></li>
                <li><a href="{% url 'homepage' name=user.username %}" class="navLinks">Home</a></li>
                <li><a href="{% url 'homepage' name=user.username %}" class="navLinks">Home</a></li>
                <li><a href="{% url 'logout' %}" class="navLinks">Logout</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="hero-overlay">
                <div class="hero-content">
                    <h1>Welcome to TypeBeat!</h1>
                    <p>Type through the Rhytmn!</p>
                    <a href="{% url 'signup' %}" class="cta-button">Download Now!</a>
                </div>
            </div>
        </section>

        <section class="features">
            <h2>Game Features</h2>
            <div class="feature">
                <h3>Exciting Beatmaps</h3>
                <p>Explore a variety of beatmaps created by talented mapmakers.</p>
            </div>
            <div class="feature">
                <h3>Compete with Friends</h3>
                <p>Challenge your friends and see who has the highest score!</p>
            </div>
            <div class="feature">
                <h3>Create Your Own</h3>
                <p>Design and share your own beatmaps with the community.</p>
            </div>
        </section>

        <section class="BeatPacks">
            <h2>Popular BeatPacks</h2>
            <div class="beatPack-list">
                {% for beatpacks in beatpacks %}
                <div class="beatmap-card">
                    
                    <h3>{{ beatpacks.beatpack_title }}</h3>
                    <p>Author: {{ beatpacks.music_author }}</p>
                    <p>No. of BeatMaps: {{ beatpacks.no_of_beatmaps }}</p>
                    <p>No. of Downloads: {{ beatpacks.no_of_downloads }}</p>
                    <img src="{{ beatpacks.beatpack_picture.url }}" alt="{{ beatpacks.beatpack_title }} image" class="beatpack-image">
                    <a href="{% url 'beatpack_detail' beatpack_id=beatpacks.beatpack_id %}" class="beatmap-button">See More</a>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="ranking">
            <h2>Top Players</h2>
            <ol class="ranking-list">
                {% for highscore in top_highscores %}
                <li>
                    {{ highscore.user }} - 
                    {{ highscore.total_score }}, 
                    {{ highscore.highest_combo }}x, 
                    {{ highscore.accuracy }}%, 
                    {{ highscore.perfect }}, 
                    {{ highscore.great }}, 
                    {{ highscore.good }}, 
                    {{ highscore.miss }}
                </li>
                {% endfor %}
            </ol>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Rhythm Game. All rights reserved.</p>
    </footer>
</body>
</html>