{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Beatpacks</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/gameTemplate.css' %}">
        <style>
            body {
                background-image: url("{% static 'images/BackgroundB.png' %}");
                background-position: center;
                background-repeat: repeat;
                background-size: auto;
            }
        </style>
    </head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="navLogo">
            <div class ="navLinkContainer">
                <a href="{% url 'homepage' name=user.username %}"><div class="navLinks">Home</div></a>
                <a href="{% url 'upload_beatpack' name=user.username %}"><div class="navLinks">My Creations</div></a>
                <a href="{% url 'homepage' name=user.username %}"><div class="navLinks">Beatmaps</div></a>
                <a href="{% url 'logout' %}"><div class="logout">Logout</div></a>
            </div>
        </div>
    </header>


    <main>
        <!-- Beatpack Upload Section -->
        <section class="upload-beatpack">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
        </section>

        <!-- User's Existing Beatpacks -->
        <section class="user-beatpacks">
            <h2>Your Beatpacks</h2>
            <ul>
                {% for beatpack in user_beatpacks %}
                    <a href="{% url 'my_beatmap' name=beatpack.music_author title=beatpack.beatpack_title %}">
                    <li>
                        <img src="{{ beatpack.beatpack_picture.url }}" alt="{{ beatpack.beatpack_title }}" style="max-width: 300px; max-height: 300px;">
                        <strong>Title:</strong> {{ beatpack.beatpack_title }}<br>
                        <strong>Music Author:</strong> {{ beatpack.music_author }}<br>
                        <strong>Number of Beatmaps:</strong> {{ beatpack.no_of_beatmaps }}<br>
                        <strong>Number of Downloads:</strong> {{ beatpack.no_of_downloads }}<br>
                    </li>
                    </a>
                {% empty %}
                    <li>You have not created any beatpacks yet.</li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Rhythm Game. All rights reserved.</p>
    </footer>
</body>
</html>
