main{
    padding: 25px;
    font-family: 'Montserrat';
}
body {
    font-family: 'Montserrat';
    background-image: url("{% static 'images/BackgroundB.png' %}");
    background-size: cover; /* Adjust size */
    background-position: center; /* Center the image */
    color: #f0f0f0; /* Light text */
    margin: 0;
    padding: 0;
}

body a{
    text-decoration: none;
}

header {
    background-color: #0e0e0e; 
    padding: 10px 20px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.navbar a{
    text-decoration: none;
}

.navLinkContainer{
    display: flex;
    padding-right: 20px;
}



.navLinks {
    color: #ffffff; /* Orange links */
    text-decoration: none;
    margin: 0 15px;
    padding:10px;
}

.navLinks:hover {
    transform: scale(1.2);
    text-shadow: 
        0 0 5px #ff6600,   /* Inner glow */
        0 0 10px #ff6600,  /* Middle glow */
        0 0 20px #ff6600,  /* Outer glow */
        0 0 40px #ff9900,  /* Stronger glow */
        0 0 80px #ffcc00;  /* Extended glow */
}

.logout{
    border-radius:10px;
    padding: 5px;
    background-color: #ff6600;
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    padding:10px;
}

.logout:hover {
    transform: scale(1.2);
}

.navLogo {
    height: 50px;
}


.hero{
    display:flex;
    text-align: center;
    padding: 50px 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-overlay {
    background: url('{{ background_image_url }}') center center;
}

.hero-content {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center elements vertically */
    color: #000000;
}

.hero-content.beatpack-image{
    align-content: center;
}


.cta-button {
    background-color: #ff6600; /* Orange button */
    margin-top: 20px;
    color: #fff;
    padding: 14px 24px;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 1.5px;
    text-align: center;
    display: inline-block; /* Ensure proper button behavior */
}
.cta-button:hover{
    transform: scale(1.05);
}

.features, .BeatPacks, .ranking {
    padding: 20px;
    margin: 20px;
}

.features {
    text-align: center;
    padding: 50px 20px;
}

.feature {
    background-color: #0e0e0e; /* Black background for cards */
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    margin: 30px;
}

.feature h3 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ffffff; /* Ensuring contrast */
    font-weight: 700;
    letter-spacing: 4.5px;
}

.features-heading {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4.5rem;
    margin-bottom: 20px;
    color: #ffffff; /* Ensuring contrast */
    font-weight: 700;
    letter-spacing: 4.5px;
}

.feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Adjust layout for smaller screens */
}


.feature p {
    font-size: 1rem;
    color: #d3d3d3; 
}

.feature:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.beatmap-section{
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    text-align: 100px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
}


