{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatpack</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/gameTemplate.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/BackgroundB.png' %}");
            background-position: center;
            background-repeat: repeat;
            background-size: auto;
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="navLogo">
            <div class ="navLinkContainer">
                <a href="{% url 'homepage' name=user.username %}"><div class="navLinks">Home</div></a>
                <a href="{% url 'BeatPack_Upload' name=user.username %}"><div class="navLinks">My Creations</div></a>
                <a href="{% url 'homepage' name=user.username %}"><div class="navLinks">Beatmaps</div></a>
                <a href="{% url 'logout' %}"><div class="logout">Logout</div></a>
            </div>
        </div>
    </header>
    <div class="beatpack-hero" style="background-image: url('{{ beatpack.beatpack_picture.url }}');">
        <div class="hero-overlay">
            <div class="hero-content">
                <!-- Centered Title and Author -->
                <h1 class="beatpack-hero-title">{{ beatpack.beatpack_title }}</h1>
                <p class="beatpack-hero-author">Author: {{ beatpack.music_author }}</p>
            </div>
            <!-- Info Section at the bottom -->
            <div class="beatpack-hero-info-container">
                <p class="beatpack-hero-info">No. of BeatMaps: {{ beatpack.no_of_beatmaps }}</p>
                <p class="beatpack-hero-info">No. of Downloads: {{ beatpack.no_of_downloads }}</p>
            </div>
        </div>
    </div>
    
    <section class="beatmap-section">
    <h2>BEATMAPS</h2>
        <div class="beatmap-list"> 
            {% for beatmap in beatmaps %}
            <a href="{% url 'beatmap_leaderboard' beatmap_id=beatmap.beatmap_id %}" class="leaderboard-button">
                <div class="beatmap-card">
                    <h3>{{ beatmap.beatmap_title }}</h3>
                    <p>Difficulty: {{ beatmap.difficulty }}</p>
                    <p>Mapmaker: {{ beatmap.mapmaker.username }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</body>
</html>