{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="{% static 'css/Placeholder.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="navLogo">
            <div class ="navLinkContainer">
                <a href="{% url 'homepage' name=user.username %}"><div class="navLinks">Home</div></a>
                <a href="{% url 'upload_beatpack' name=user.username %}"><div class="navLinks">My Creations</div></a>
                <a href="{% url 'homepage' name=user.username %}"><div class="navLinks">Beatmaps</div></a>
                <a href="{% url 'logout' %}"><div class="logout">Logout</div></a>
            </div>
        </div>
    </header>


    <main>
        <section class="delete-user">
            <h2>Delete User</h2>
            <p>Are you sure you want to delete your account?</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Delete</button>
                <a href="{% url 'user_page' %}" class="btn">Cancel</a>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Rhythm Game. All rights reserved.</p>
    </footer>
</body>
</html>